<div class="container">
    <button class="btn btn-primary" routerLink="/home">< Back</button>
<div class="forms-group">
    Product Name:
    <input type="text" name="product" class="form-control" [(ngModel)]="product_name">
</div>
<div class="forms-group">
    Info:
    <input type="text" name="info" class="form-control" [(ngModel)]="info">
</div>
<div class="forms-group">
    Image:
    <input type="text" name="image" class="form-control" [(ngModel)]="image">
</div>
<button class="btn btn-success" (click)="add()">Add Product</button>
</div>
